<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sang.mapper.BlogMapper">


    <select id="getCommunityAllBlogs" resultType="Blog">
        select * from blogs where visible = 1
        <if test="type == 1 || type == 0">
            and type = #{type}
        </if>
        limit #{firstOne},#{number}
    </select>

    <select id="getCommunityUserBlogs" resultType="Blog">
        select * from blogs where username = #{username} and visible = 1
        <if test="type == 1 || type == 0">
            and type = #{type}
        </if>
        limit #{firstOne},#{number}
    </select>

    <select id="getUserCenterAllBlogs" resultType="Blog">
        select * from blogs where username = #{username}
        <if test="type == 1 || type == 0">
            and type = #{type}
        </if>
        <if test="visible == 1 || visible == 0">
            and visible = #{visible}
        </if>
    </select>

</mapper>